In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
cols = ['Q13_1: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - Number Go trials',
        'Q13_2: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - Number Go mistakes',
        'Q13_3: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - Go mistakes (%)',
        'Q13_4: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - Number No Go trials',
        'Q13_5: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - Number No Go mistakes',
        'Q13_6: Sustained Attention to Response Task (SART): https://www.psytoolkit.org/experiment-library/experiment_sart.html - No Go mistakes (%)',
        'Q26_1: Autism Spectrum Quotient: https://www.psytoolkit.org/cgi-bin/3.4.4/survey?s=cRqHQ - Score:',
       ]

cols2 = ['Q9_1: Stroop taak: https://www.psytoolkit.org/experiment-library/experiment_stroop.html - Congruent',
        'Q9_2: Stroop taak: https://www.psytoolkit.org/experiment-library/experiment_stroop.html - Incongruent',
        'Q9_3: Stroop taak: https://www.psytoolkit.org/experiment-library/experiment_stroop.html - Stroop effect',
        'Q26_1: Autism Spectrum Quotient: https://www.psytoolkit.org/cgi-bin/3.4.4/survey?s=cRqHQ - Score:']

In [3]:
len(data[data['Q4: Wat is uw geslacht?'] == 'Dat zeg ik liever niet']),len(data[data['Q4: Wat is uw geslacht?']=='Vrouw']), len(data[data['Q4: Wat is uw geslacht?'] == 'Man']), len(data)

(1, 22, 59, 82)

In [4]:
# data = data[cols].dropna()
data1 = data[cols].dropna()
data2 = data[cols2].dropna()

In [5]:
cols_renamed = {i: f'SART - {i.split("-")[-1]}' for i in cols[:-1]}
cols2_renamed = {i: i.split("-")[-1][1:] for i in cols2[:-1]}

data1 = data1.rename(columns = cols_renamed)
data1 = data1.rename(columns = {'Q26_1: Autism Spectrum Quotient: https://www.psytoolkit.org/cgi-bin/3.4.4/survey?s=cRqHQ - Score:': 'ASQ score:'})

data2 = data2.rename(columns = cols2_renamed)
data2 = data2.rename(columns = {'Q26_1: Autism Spectrum Quotient: https://www.psytoolkit.org/cgi-bin/3.4.4/survey?s=cRqHQ - Score:': 'ASQ score:'})
display(data2)

def fix_data(value):
    if isinstance(value, int):
        return value
    elif isinstance(value, str):
        return int(value.rstrip('ms'))
    else:
        return int(value)

   Congruent Incongruent Stroop effect  ASQ score:
1        625         763           138         7.0
2        725         789            64         5.0
3        640         766           126         5.0
4        714         793            79         1.0
5        441         595           154        10.0
..       ...         ...           ...         ...
77       507         721           214         1.0
78       908         897           -11         2.0
79       663        1214           551         1.0
80       853         858             5         5.0
81       722         751            29         1.0

[80 rows x 4 columns]

In [6]:
data2['Stroop effect'] = data2['Stroop effect'].map(fix_data)

In [7]:
display(data1)

,SART - Number Go trials,SART - Number Go mistakes,SART - Go mistakes (%),SART - Number No Go trials,SART - Number No Go mistakes,SART - No Go mistakes (%),ASQ score:
1,16.0,0.0,0.0,2.0,2.0,100,7.0
2,16.0,1.0,5.0,3.0,3.0,100,5.0
3,16.0,0.0,0.0,2.0,0.0,0,5.0
4,16.0,0.0,0.0,2.0,1.0,50,1.0
5,200.0,6.0,3.0,25.0,19.0,76,10.0
...,...,...,...,...,...,...,...
77,200.0,0.0,0.0,25.0,9.0,36,1.0
78,16.0,0.0,0.0,2.0,1.0,50,2.0
79,16.0,0.0,0.0,2.0,0.0,0,1.0
80,200.0,1.0,1.0,25.0,8.0,32,5.0
81,16.0,0.0,0.0,2.0,0.0,0,1.0

In [8]:
def fix_percentage(column):
        if isinstance(column, float):
            return column
        elif '%' in column:
                return float(column.rstrip('%'))
        else:
                return float(column)
            
data1['SART -  No Go mistakes (%)'] = data1['SART -  No Go mistakes (%)'].apply(fix_percentage)
data1['SART -  Go mistakes (%)'] = data1['SART -  Go mistakes (%)'].apply(fix_percentage)

display(data1.sort_values(by='SART -  Number Go trials'))

,SART - Number Go trials,SART - Number Go mistakes,SART - Go mistakes (%),SART - Number No Go trials,SART - Number No Go mistakes,SART - No Go mistakes (%),ASQ score:
32,12.0,25.0,60.00,3.0,34.0,43.00,14.0
1,16.0,0.0,0.00,2.0,2.0,100.00,7.0
42,16.0,1.0,6.00,2.0,2.0,100.00,2.0
44,16.0,0.0,0.00,2.0,1.0,50.00,4.0
45,16.0,0.0,0.00,2.0,1.0,50.00,4.0
...,...,...,...,...,...,...,...
35,200.0,0.0,0.00,39.0,7.0,18.00,2.0
26,200.0,1.0,1.00,25.0,7.0,28.00,2.0
31,200.0,0.0,0.00,25.0,2.0,8.00,2.0
41,200.0,1.0,1.00,25.0,8.0,32.00,1.0
22,225.0,15.0,6.67,75.0,5.0,6.67,1.0

In [12]:
for i in data1['SART -  Number Go trials']:
    if isinstance(i, str):
        print(i)
        
correct_data = data1[data1['SART -  Number Go trials'] > 16]


len(correct_data)
len(data2)

80

In [10]:
data2.to_csv('stroop_data.csv')