In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
import scipy
import statsmodels.stats.power as smp

In [2]:
sart = pd.read_csv('sart_data.csv')
stroop = pd.read_csv('stroop_data.csv')

sart = sart.drop(sart.columns[0], axis=1)
stroop = stroop.drop(stroop.columns[0], axis=1)
display(sart.head(), stroop.head())

   SART -  Go mistakes (%)  SART -  No Go mistakes (%)  ASQ score:
0                      3.0                        76.0        10.0
1                      0.0                        72.0         3.0
2                      0.0                        28.0         3.0
3                      1.0                        76.0         1.0
4                      3.0                        90.0         1.0

   Congruent  Incongruent  Stroop effect  ASQ score:
0      625.0        763.0          138.0         7.0
1      725.0        789.0           64.0         5.0
2      640.0        766.0          126.0         5.0
3      714.0        793.0           79.0         1.0
4      441.0        595.0          154.0        10.0

In [3]:
strooplow = stroop[stroop['ASQ score:'] <= stroop['ASQ score:'].median()]
stroophigh = stroop[stroop['ASQ score:'] > stroop['ASQ score:'].median()]

In [4]:
for i in stroop.columns:
        print(f"T-test tussen de groepen voor {i}: {scipy.stats.ttest_ind(strooplow[i], stroophigh[i])}")
        print(f"Gemiddelde laag ASQ: {strooplow[i].mean()}, SD: {scipy.stats.tstd(strooplow[i])}")
        print(f"Gemiddelde hoog ASQ: {stroophigh[i].mean()}, SD: {scipy.stats.tstd(stroophigh[i])}\n")

T-test tussen de groepen voor Congruent: TtestResult(statistic=-1.3468856513029985, pvalue=0.18201971544757847, df=76.0)
Gemiddelde laag ASQ: 713.2666666666667, SD: 172.78946727159038
Gemiddelde hoog ASQ: 772.6060606060606, SD: 216.13073870257608

T-test tussen de groepen voor Incongruent: TtestResult(statistic=-0.993414951992657, pvalue=0.32366018812399044, df=76.0)
Gemiddelde laag ASQ: 817.3333333333334, SD: 187.35770358036814
Gemiddelde hoog ASQ: 860.3939393939394, SD: 191.54518712857606

T-test tussen de groepen voor Stroop effect: TtestResult(statistic=0.5757354222169094, pvalue=0.5664949433734866, df=76.0)
Gemiddelde laag ASQ: 104.13333333333334, SD: 121.81685209586338
Gemiddelde hoog ASQ: 88.39393939393939, SD: 115.71001992965523

T-test tussen de groepen voor ASQ score:: TtestResult(statistic=-13.738488464563503, pvalue=2.721202989225768e-22, df=76.0)
Gemiddelde laag ASQ: 1.8222222222222222, SD: 0.8059124949366089
Gemiddelde hoog ASQ: 5.212121212121212, SD: 1.3637626204176756

In [5]:
sart.columns

Index(['SART -  Go mistakes (%)', 'SART -  No Go mistakes (%)', 'ASQ score:'], dtype='object')

In [6]:
display(sart.head())
print(len(sart))

   SART -  Go mistakes (%)  SART -  No Go mistakes (%)  ASQ score:
0                      3.0                        76.0        10.0
1                      0.0                        72.0         3.0
2                      0.0                        28.0         3.0
3                      1.0                        76.0         1.0
4                      3.0                        90.0         1.0

24

In [7]:
sartlow = sart[sart['ASQ score:'] <= sart['ASQ score:'].median()]
sarthigh = sart[sart['ASQ score:'] > sart['ASQ score:'].median()]

In [8]:
display(sartlow)

    SART -  Go mistakes (%)  SART -  No Go mistakes (%)  ASQ score:
3                      1.00                       76.00         1.0
4                      3.00                       90.00         1.0
5                      6.67                        6.67         1.0
7                      1.00                       28.00         2.0
8                      0.00                        8.00         2.0
9                      0.00                       18.00         2.0
13                     1.00                       32.00         1.0
14                     0.00                       16.00         2.0
16                     1.00                       52.00         2.0
17                     0.00                        0.00         2.0
18                     1.00                       60.00         2.0
20                     0.00                       72.00         2.0
21                    25.00                       60.00         2.0
22                     0.00                       36.00         1.0

In [9]:
for i in sart.columns:
    print(f"Correlation between {i} and ASQ score:{scipy.stats.pearsonr(sart[i], sart['ASQ score:'])}")

Correlation between SART -  Go mistakes (%) and ASQ score:PearsonRResult(statistic=0.06955276050538287, pvalue=0.7467413941631837)
Correlation between SART -  No Go mistakes (%) and ASQ score:PearsonRResult(statistic=0.3221238733159792, pvalue=0.12476279308423699)
Correlation between ASQ score: and ASQ score:PearsonRResult(statistic=0.9999999999999997, pvalue=4.563495604573848e-167)

In [10]:
for i in sart.columns:
    print(f"T-test tussen de groepen voor {i}: {scipy.stats.ttest_ind(sartlow[i], sarthigh[i])}")
    print(f"Gemiddelde laag ASQ: {sartlow[i].mean()}, SD: {scipy.stats.tstd(sartlow[i])}")
    print(f"Gemiddelde hoog ASQ: {sarthigh[i].mean()}, SD: {scipy.stats.tstd(sarthigh[i])}\n")

T-test tussen de groepen voor SART -  Go mistakes (%): TtestResult(statistic=0.24291450611324503, pvalue=0.8103221258443973, df=22.0)
Gemiddelde laag ASQ: 2.8335714285714286, SD: 6.6279195101454755
Gemiddelde hoog ASQ: 2.3, SD: 2.3118054512532935

T-test tussen de groepen voor SART -  No Go mistakes (%): TtestResult(statistic=-1.6037716646057967, pvalue=0.1230255254056672, df=22.0)
Gemiddelde laag ASQ: 39.619285714285716, SD: 28.797515508296012
Gemiddelde hoog ASQ: 57.6, SD: 24.382142828079914

T-test tussen de groepen voor ASQ score:: TtestResult(statistic=-6.30197979752475, pvalue=2.422842012255395e-06, df=22.0)
Gemiddelde laag ASQ: 1.6428571428571428, SD: 0.4972451580988468
Gemiddelde hoog ASQ: 5.4, SD: 2.1705094128132942

In [11]:
def cohen_d(x,y):
    return (np.mean(x) - np.mean(y)) / np.sqrt((np.std(x, ddof=1) ** 2 + np.std(y, ddof=1) ** 2) / 2.0)

In [12]:
cohen_d(strooplow, stroophigh)

C:\Users\Sebas\AppData\Local\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Congruent        -0.115058
Incongruent      -0.118823
Stroop effect    -0.189496
ASQ score:      -20.098383
dtype: float64

In [13]:
power_analysis = smp.TTestIndPower()

for i in cohen_d(strooplow, stroophigh):
    sample_size = power_analysis.solve_power(effect_size=i, power=0.8, alpha=0.05)
    print(sample_size)

1186.7450191392018
1112.7778354092427
438.11876753043583
[10.]

C:\Users\Sebas\AppData\Local\anaconda3\Lib\site-packages\statsmodels\stats\power.py:525: ConvergenceWarning:
Failed to converge on a solution.

  warnings.warn(convergence_doc, ConvergenceWarning)

In [14]:
# sns.set_theme(style='whitegrid')

# g = sns.jointplot(x="ASQ score:", y="SART -  No Go mistakes (%)", data=sart,
#                   kind="reg", truncate=False,)

# print(st.correlation(sart['ASQ score:'], sart['SART -  No Go mistakes (%)']))